---
### General config, applies to all languages ###
AlignAfterOpenBracket:               AlwaysBreak
AlignConsecutiveAssignments:         true
AllowShortCaseLabelsOnASingleLine:   true
AllowShortFunctionsOnASingleLine:    Empty
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces:                   Allman
ColumnLimit:                         90
FixNamespaceComments:                false
IndentCaseLabels:                    true
IndentWidth:                         4
PenaltyBreakComment:                 10000000
PointerAlignment:                    Middle
SpaceBeforeParens:                   Never
SpacesInParentheses:                 true
TabWidth:                            4
UseTab:                              Never
---
### C++ specific config ###
Language:                  Cpp
Standard:                  c++17
Cpp11BracedListStyle:      false
NamespaceIndentation:      None
CompactNamespaces:         true
SpacesInAngles:            false
SpaceAfterTemplateKeyword: false